<h1>My Profile</h1>

<%= image_tag @user.image %>
<strong>Name:</strong><%= @user.name  %>
<strong>Username:</strong><%= @user.username  %>
<strong>Email:</strong><%= @user.email  %>
<strong>Company:</strong><%= @user.company.name  %>
<strong>Department:</strong><%= @user.department  %>
<strong>Position:</strong><%= @user.position  %>
<strong>Ideas:</strong>
<strong>Recent Activity:</strong>