<h1><strong><%= current_user.name %></strong> proposes a new idea</h1>

<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<section>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :blurb %><br>
    <%= f.text_area :blurb %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.text_area :goal %>
  </div>
  <div class="field">
    <%= f.label :implementation %><br>
    <%= f.text_area :implementation %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </div>
  <div class="field">
     <%= f.label :attachment %><br />
     <%= f.file_field :attachment %>
   </div>

  <div class="actions">
    <%= f.submit class: "button expand" %>
  </div>
<% end %>
</section>