<p id="notice"><%= notice %></p>

<h1>Top 5 Ideas at <%= link_to current_user.company.try(:name) %></h1>

<div>
  <%= render @top_5_ideas %>
</div>

<h1>All ideas at <%= link_to current_user.company.try(:name) %></h1>

<div> 
  <%= render @ideas %>
</div>


<%= link_to 'Propose a new idea', new_idea_path %>
