<p id="notice"><%= notice %></p>

<h1>Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Blurb</th>
      <th>Reason</th>
      <th>Goal</th>
      <th>Implementation</th>
      <th>Budget</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= link_to idea.user.name, idea.user %></td>
        <td><%= idea.blurb %></td>
        <td><%= idea.reason %></td>
        <td><%= idea.goal %></td>
        <td><%= idea.implementation %></td>
        <td><%= idea.budget %></td>
        <td><%= idea.user.company.try(:name) %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Propose a new idea', new_idea_path %>
