<p id="notice"><%= notice %></p>

<h1>Ideas at <%= link_to current_user.company.try(:name) %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <% if current_user.company.id == idea.user.company.try(:id) %>
        <td><%= link_to idea.title, idea %></td>
        <td><%= link_to idea.user.name, idea.user %></td>
        <td><%= idea.user.company.try(:name) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Propose a new idea', new_idea_path %>
