<p id="notice"><%= notice %></p>

<div class="showHTMLIdeas">
<%= link_to like_idea_path(@idea), method: :put do %>
  <button>Vote |  
  <%= @idea.get_upvotes.size %></button>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>By:</strong>
  <%= @idea.user.name %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @idea.blurb %>
</p>

<%= pie_chart @idea.votes_for_pie_chart %>

<p>
  <strong>Reason:</strong>
  <%= @idea.reason %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @idea.goal %>
</p>

<p>
  <strong>Implementation:</strong>
  <%= @idea.implementation %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @idea.budget %>
</p>

<p>
  <b>Learn more:</b>
  <%=  link_to "Learn More", @idea.attachment.url %>
</p>

<div>

<%= render partial: 'comments/form', locals: { commentable: @idea } %>
<%= render partial: 'comments/comment', collection: @idea.comments, locals: { commentable: @idea } %>

<% if @idea.user_id == current_user.id %>
<%= link_to 'Edit', edit_idea_path(@idea) %> 
<%= link_to 'Delete', @idea, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', ideas_path %>
